In [18]:
import pandas as pd

In [24]:
data = pd.read_csv("CCL.csv")
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-01-03,46.871,47.131,46.431,46.790,3450800,0.0,0.0
1,2017-01-04,47.068,47.490,46.880,47.400,3169800,0.0,0.0
2,2017-01-05,47.607,48.450,47.400,48.199,4022300,0.0,0.0
3,2017-01-06,48.091,48.513,47.687,48.145,3669600,0.0,0.0
4,2017-01-09,47.894,48.414,47.876,48.181,2413800,0.0,0.0
...,...,...,...,...,...,...,...,...
1505,2022-12-23,7.860,7.940,7.530,7.810,39623700,0.0,0.0
1506,2022-12-27,7.780,7.900,7.550,7.670,37674800,0.0,0.0
1507,2022-12-28,7.710,7.910,7.630,7.670,34112400,0.0,0.0
1508,2022-12-29,7.730,8.100,7.700,8.080,38092700,0.0,0.0
1509,2022-12-30,7.980,8.220,7.930,8.060,30690600,0.0,0.0

In [32]:
print(df.head())

         Date    Open    High     Low   Close   Volume  Dividends  \
0  2017-01-03  46.871  47.131  46.431  46.790  3450800        0.0
1  2017-01-04  47.068  47.490  46.880  47.400  3169800        0.0
2  2017-01-05  47.607  48.450  47.400  48.199  4022300        0.0
3  2017-01-06  48.091  48.513  47.687  48.145  3669600        0.0
4  2017-01-09  47.894  48.414  47.876  48.181  2413800        0.0

   Stock Splits
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

In [44]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data)
print(df)

            Date    Open    High     Low   Close    Volume  Dividends  \
0     2017-01-03  46.871  47.131  46.431  46.790   3450800        0.0
1     2017-01-04  47.068  47.490  46.880  47.400   3169800        0.0
2     2017-01-05  47.607  48.450  47.400  48.199   4022300        0.0
3     2017-01-06  48.091  48.513  47.687  48.145   3669600        0.0
4     2017-01-09  47.894  48.414  47.876  48.181   2413800        0.0
...          ...     ...     ...     ...     ...       ...        ...
1505  2022-12-23   7.860   7.940   7.530   7.810  39623700        0.0
1506  2022-12-27   7.780   7.900   7.550   7.670  37674800        0.0
1507  2022-12-28   7.710   7.910   7.630   7.670  34112400        0.0
1508  2022-12-29   7.730   8.100   7.700   8.080  38092700        0.0
1509  2022-12-30   7.980   8.220   7.930   8.060  30690600        0.0

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns]

In [52]:
data1 = {'Open': range(1510),
        'Close': range(1510)}

chunk_size = 1510
for chunk in pd.DataFrame(data).groupby(pd.DataFrame(data).index // chunk_size):
    print(chunk)

(0,             Date    Open    High     Low   Close    Volume  Dividends  \
0     2017-01-03  46.871  47.131  46.431  46.790   3450800        0.0
1     2017-01-04  47.068  47.490  46.880  47.400   3169800        0.0
2     2017-01-05  47.607  48.450  47.400  48.199   4022300        0.0
3     2017-01-06  48.091  48.513  47.687  48.145   3669600        0.0
4     2017-01-09  47.894  48.414  47.876  48.181   2413800        0.0
...          ...     ...     ...     ...     ...       ...        ...
1505  2022-12-23   7.860   7.940   7.530   7.810  39623700        0.0
1506  2022-12-27   7.780   7.900   7.550   7.670  37674800        0.0
1507  2022-12-28   7.710   7.910   7.630   7.670  34112400        0.0
1508  2022-12-29   7.730   8.100   7.700   8.080  38092700        0.0
1509  2022-12-30   7.980   8.220   7.930   8.060  30690600        0.0

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns])

In [100]:
df = pd.DataFrame({'Date':[0:1509],
                  'Open': [0:1509],
                  'Close': [0:1509]})

df

SyntaxError: invalid syntax (2548605912.py, line 1)

In [68]:
df["Close"].min()

6.38

In [70]:
df["Close"].max()

66.218

In [84]:
df["Close"].mean()

36.84938874172185

In [82]:
df["Close"].median()

42.672

In [34]:
data_GEN = pd.read_csv("GEN.csv")
data_GEN

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-01-03,11.905,11.965,11.821,11.940,6176100,0.0,0.0
1,2017-01-04,11.975,12.134,11.905,12.044,5506700,0.0,0.0
2,2017-01-05,12.034,12.293,12.005,12.258,7982800,0.0,0.0
3,2017-01-06,12.258,12.462,12.209,12.437,6615400,0.0,0.0
4,2017-01-09,12.467,12.482,12.412,12.427,4309000,0.0,0.0
...,...,...,...,...,...,...,...,...
1505,2022-12-23,20.266,20.419,20.219,20.343,1194600,0.0,0.0
1506,2022-12-27,20.343,20.534,20.257,20.467,1909300,0.0,0.0
1507,2022-12-28,20.486,20.601,19.932,19.942,2232700,0.0,0.0
1508,2022-12-29,19.798,20.400,19.770,20.295,2234400,0.0,0.0
1509,2022-12-30,20.209,20.496,20.056,20.467,1760900,0.0,0.0

In [36]:
df_GEN = pd.DataFrame(data_GEN)
print(df_GEN)

            Date    Open    High     Low   Close   Volume  Dividends  \
0     2017-01-03  11.905  11.965  11.821  11.940  6176100        0.0
1     2017-01-04  11.975  12.134  11.905  12.044  5506700        0.0
2     2017-01-05  12.034  12.293  12.005  12.258  7982800        0.0
3     2017-01-06  12.258  12.462  12.209  12.437  6615400        0.0
4     2017-01-09  12.467  12.482  12.412  12.427  4309000        0.0
...          ...     ...     ...     ...     ...      ...        ...
1505  2022-12-23  20.266  20.419  20.219  20.343  1194600        0.0
1506  2022-12-27  20.343  20.534  20.257  20.467  1909300        0.0
1507  2022-12-28  20.486  20.601  19.932  19.942  2232700        0.0
1508  2022-12-29  19.798  20.400  19.770  20.295  2234400        0.0
1509  2022-12-30  20.209  20.496  20.056  20.467  1760900        0.0

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns]

In [72]:
df_GEN["Close"].max()

28.785

In [74]:
df_GEN["Close"].min()

8.975

In [88]:
df_GEN["Close"].mean()

16.969144370860928

In [86]:
df_GEN["Close"].median()

16.094

In [38]:
data_KO = pd.read_csv("KO.csv")
data_KO
df_KO = pd.DataFrame(data_KO)
print(df_KO)

            Date    Open    High     Low   Close    Volume  Dividends  \
0     2017-01-03  32.459  32.702  32.287  32.694  14711000        0.0
1     2017-01-04  32.757  32.827  32.530  32.577   9959400        0.0
2     2017-01-05  32.584  32.741  32.483  32.655   8968300        0.0
3     2017-01-06  32.616  32.702  32.491  32.647  10246600        0.0
4     2017-01-09  32.248  32.522  32.233  32.319  14822500        0.0
...          ...     ...     ...     ...     ...       ...        ...
1505  2022-12-23  60.187  60.537  59.902  60.490   6463300        0.0
1506  2022-12-27  60.594  60.935  60.386  60.860   7320700        0.0
1507  2022-12-28  61.097  61.277  60.177  60.253   7159400        0.0
1508  2022-12-29  60.471  60.803  60.376  60.613   7169300        0.0
1509  2022-12-30  60.585  60.585  59.874  60.291   7650200        0.0

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns]

In [76]:
df_KO["Close"].min()

31.63

In [78]:
df_KO["Close"].max()

61.418

In [ ]:
df_KO["Close"].mean()

In [ ]:
df_KO["Close"].median()

In [40]:
data_MO = pd.read_csv("MO.csv")
data_MO
df_MO = pd.DataFrame(data_MO)
print(df_MO)

            Date    Open    High     Low   Close   Volume  Dividends  \
0     2017-01-03  39.355  39.529  39.070  39.291  5799500        0.0
1     2017-01-04  39.604  39.965  39.366  39.418  7553000        0.0
2     2017-01-05  39.488  39.662  39.209  39.465  8173400        0.0
3     2017-01-06  39.471  39.692  39.378  39.639  4925900        0.0
4     2017-01-09  39.639  39.697  39.424  39.477  4815900        0.0
...          ...     ...     ...     ...     ...      ...        ...
1505  2022-12-23  39.386  39.781  39.153  39.781  6759700        0.0
1506  2022-12-27  39.876  40.048  39.747  39.988  7957200        0.0
1507  2022-12-28  40.126  40.255  39.437  39.446  5848000        0.0
1508  2022-12-29  39.489  39.713  39.377  39.463  4270300        0.0
1509  2022-12-30  39.455  39.566  39.076  39.325  5025200        0.0

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns]

In [ ]:
df_MO["Close"].min()

In [80]:
df_KO["Close"].max()

45.881

In [ ]:
df_KO["Close"].mean()

In [90]:
df_KO["Close"].median()

43.4725

In [42]:
data_NTAP = pd.read_csv("NTAP.csv")
data_NTAP
df_NTAP = pd.DataFrame(data_NTAP)
print(df_NTAP)

            Date    Open    High     Low   Close   Volume  Dividends  \
0     2017-01-03  28.788  29.397  28.504  28.894  3218900       0.00
1     2017-01-04  28.886  29.359  28.739  29.114  2481400       0.19
2     2017-01-05  29.122  29.261  28.730  28.877  1875500       0.00
3     2017-01-06  28.877  29.163  28.714  28.771  1711800       0.00
4     2017-01-09  28.845  28.967  28.690  28.771  2140700       0.00
...          ...     ...     ...     ...     ...      ...        ...
1505  2022-12-23  56.270  56.347  55.594  56.270   808300       0.00
1506  2022-12-27  56.509  56.899  55.879  56.280   689600       0.00
1507  2022-12-28  55.937  56.385  55.355  55.451  1046400       0.00
1508  2022-12-29  55.918  57.538  55.784  57.271  1075500       0.00
1509  2022-12-30  56.956  57.261  56.327  57.242  1382200       0.00

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 8 columns]

In [98]:
df_NTAP["Close"].min()

28.771

In [96]:
df_NTAP["Close"].max()

89.049

In [94]:
df_NTAP["Close"].mean()

55.43805165562914

In [92]:
df_NTAP["Close"].median()

55.315